{{!-- {{> header}} --}}
<main>
  {{#if isLoggedIn}}
    {{#each posts}}
      <article class="post">
        <h2>{{title}}</h2>
        <p>{{content}}</p>
        <p>Created by {{user.username}} on {{createdAt}}</p>
      </article>
    {{/each}}
  {{else}}
    <p>Welcome to our blog! Please sign up or sign in to view posts.</p>
  {{/if}}
</main>