{{!-- {{> header}} --}}
<main>
  {{#if isLoggedIn}}
    <article class="post">
      <h2>Hard Coded Post</h2>
      <p>blahblah</p>
      <p>Created by FakeUser123 Today</p>
    </article>
    {{#each posts}}
      <article class="post">
        <h2>{{title}}</h2>
        <p>{{content}}</p>
        <p>Created by {{user.username}} on {{createdAt}}</p>
      </article>
    {{/each}}
  {{else}}
    <p>Welcome to our blog! Please sign up or sign in to view posts.</p>
  {{/if}}
</main>