{{#if isLoggedIn}}
  <article class="post">
    <h2>{{post.title}}</h2>
    <p>{{post.content}}</p>
    <p>Created by {{post.user.username}} on {{post.createdAt}}</p>
  </article>

  {{!-- Display comments if there are any --}}
  {{#if post.comments.length}}
    <h3>Comments:</h3>
    {{#each post.comments}}
      <div class="comment">
        <p>{{this.text}}</p>
        <p>Comment by {{this.user.username}} on {{this.createdAt}}</p>
      </div>
    {{/each}}
  {{/if}}

  {{!-- Add a form for adding new comments --}}
  <form action="/comment" method="POST">
    <textarea name="commentText" rows="4" cols="50" placeholder="Add your comment"></textarea>
    <input type="hidden" name="postId" value="{{post.id}}">
    <button type="submit">Submit Comment</button>
  </form>
{{else}}
  <p>Please sign in to view this post and its comments.</p>
{{/if}}
